<form method="post" action="{{ path('app_concessionnaire_delete', {'id': concessionnaire.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ concessionnaire.id) }}">
    <button class="btn">Delete</button>
</form>
