{% extends 'base.html.twig' %}

{% block title %}Edit VehiculeConcessionnaire{% endblock %}

{% block body %}
    <h1>Edit VehiculeConcessionnaire</h1>

    {{ include('vehicule_concessionnaire/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_vehicule_concessionnaire_index') }}">back to list</a>

    {{ include('vehicule_concessionnaire/_delete_form.html.twig') }}
{% endblock %}
